.container{
    margin:10px;
    display:flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
}
.div{
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    margin: 10px;
    padding:10px;
}
img{
    width:380px;
    height:360px;
}
body{
    text-align: center;
    background-color: rgb(255,186,0);
}
h1{
    font-size:60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-size: 120%;
    font-weight:100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*for laptop*/
@media screen and (min-width:769px) and (max-width:1024px){ 
    .container{
        margin:10px;
        display:flex;
        flex-direction: row;
        justify-content:center;
        flex-wrap: wrap;
    }
    .div{
        font-family: 'Times New Roman', Times, serif;
        border-radius: 10px;
        margin: 10px;
        padding:10px;
    }
    img{
        width:380px;
        height:360px;
    }
    body{
        text-align: center;
        background-color: rgb(255,186,0);
    }
    h1{
        font-size:60px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    h3{
        font-size: 200%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    p{
        font-size: 120%;
        font-weight:100;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}
/*for mobile*/
@media screen and (min-width:320px) and (max-width:480px){
    .container{
        margin:5px;
        display:flex;
        flex-direction: row;
        justify-content:center;
        flex-wrap: wrap;
    }
    .div{
        font-family: 'Times New Roman', Times, serif;
        border-radius: 5px;
        margin: 5px;
        padding:5px;
    }
    img{
        width:180px;
        height:160px;
    }
    body{
        text-align: center;
        background-color: rgb(255,186,0);
    }
    h1{
        font-size:40px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    h3{
        font-size: 200%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    p{
        font-size: 120%;
        font-weight:100;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }  
}